// text
$fontSizeS: 12px;
$fontSizeXs: 14px;
$fontSizeSm: 16px;
$fontSizeXXXl: 32px;
$defaultFontFamily: -apple-system, BlinkMacSystemFont, Lato, sans-serif;

// color
$textColor: #080808;
$bodyColor: #181818;
$calendarColor: #1B1B1B;
$panelColor: #242424;
$enabledColor: #808080;
$hoverColor: #ffffff;
$activeColor: #00a3ff;
