// text
$fontSizeXs: 14px;
$fontSizeSm: 16px;
$defaultFontFamily: -apple-system, BlinkMacSystemFont, Lato, sans-serif;

// color
$bodyColor: #181818;
$enabledColor: #808080;
$hoverColor: #ffffff;
$activeColor: #00a3ff;
